.grid {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  height: 452px;
  width: 452px;
}

.grid div {
  height: 50px;
  width: 50px;
}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

.c1 {
  background-color: black;
}

.l1,
.l2,
.l3 {
  background-color: brown;
}

.l4,
.l5,
.lf2,
.lf3 {
  background-color: lightblue;
}

.c2,
.c3 {
  background-color: grey;
}

.frog {
  background-color: darkgreen;
}

.centered {
  text-align: center;
  margin: auto;
}
